.header__menu {
    display: none;
  }
  
  @media screen and (max-width: 425px) {
    .header__menu {
      display: block;
      position: relative;
      width: 24px;
      height: 3px;
      background-color: #FFFFFF;
    }
  
    .header__menu::before {
      position: absolute;
      left: 0;
      top: -8px;
      content: '';
      width: 24px;
      height: 3px;
      background-color: #FFFFFF;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  
    .header__menu::after {
      position: absolute;
      left: 0;
      top: 8px;
      content: '';
      width: 24px;
      height: 3px;
      background-color: #FFFFFF;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  }